<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col col-md-6">
                    <div id="user-counter" style="width: 600px;height:400px;"></div>
                </div>
                <div class="col col-md-6">
                    Variable width content
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    1 of 3
                </div>
                <div class="col col-md-6">
                    Variable width content
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('user-counter'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data: ['销量']
        },
        xAxis: {
            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script src="./dashboard.ts"></script>
